{% extends parent_template|default:"startup/base.html" %}

{% block title %}
  {{ startup.name }}
{% endblock %}

{% block content %}
  <h2>{{ startup.name }}</h2>
  <ul>
    <li>
      {# Wouldn't a model method be nicer than the call below? #}
      <a href="{% url 'startup_update' startup.slug %}">
        Update
      </a>
    </li>
    <li>
      {# Wouldn't a model method be nicer than the call below? #}
      <a href="{% url 'startup_delete' startup.slug %}">
        Delete
      </a>
    </li>
  </ul>
  <dl>
    <dt>Date Founded</dt>
      <dd>{{ startup.founded_date|date:"F jS, Y" }}</dd>
    <dt>Website</dt>
      <dd>{{ startup.website|urlize }}</dd>
    <dt>Contact</dt>
      <dd>{{ startup.contact }}</dd>

    {% with tag_list=startup.tags.all %}
      <dt>Tag{{ tag_list|pluralize }}</dt>
        {% for tag in tag_list %}
          <dd><a href="{{ tag.get_absolute_url }}">
            {{ tag.name|title }}
          </a></dd>
        {% endfor %}
    {% endwith %}
  </dl>
  {{ startup.description|linebreaks }}
  <section>
    {# Wouldn't a model method be nicer than the call below? #}
    <p><a href="{% url 'newslink_create' startup.slug %}">
      Add link to article
    </a></p>
    <ul>
      {% for newslink in startup.newslink_set.all %}
        <li>
          <a href="{{ newslink.link }}">
            {{ newslink.title|title }}</a>
          {# Wouldn't model methods be nicer than the calls below? #}
          <a href="{% url 'newslink_update' startup.slug newslink.slug %}">
            [Modify Link]</a>
          <a href="{% url 'newslink_delete' startup.slug newslink.slug %}">
            [Delete Link]</a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}
